{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="{{ url('theme://images/favicon.ico') }}"/>
    {% include 'partials/metadata.html.twig' %}



    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.ico') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {# {% do assets.addCss('https://unpkg.com/purecss@1.0.0/build/pure-min.css', 100) %}
        {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', 99) %} #}
        {% do assets.addCss('theme://css/custom.css?q=110', 98) %}
        {% do assets.addCss('theme://css/jdllonline.css?q=108', 98) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('jquery', 100) %}
        {% do assets.addJs('theme://js/anime.min.js') %}
        {% do assets.addJs('theme://js/190318_functions.js?q=108') %}
        {% do assets.addJs('theme://js/hl.js') %}

    {% endblock %}
    {{ assets.js() }}
    <link rel="stylesheet" type="text/css" href="https://pretalx.com/democon/schedule/widget/v1.css">


{% endblock head%}
</head>

<body id="top" class="{{ page.header.body_classes }}">
  {% set p = page.find("/home") %}
<div class="bck" style="background: linear-gradient(44deg, {{p.header.custom.color1}},{{p.header.custom.color2}});"></div>



{% block header %}
<div class="header">
    <div class="top-wrap">
        {% block info %}
        {% endblock info %}
        {% block header_navigation %}
        {% endblock %}
    </div>
    <nav class="main-nav wrapper_mini">
        {% include 'partials/navigation.html.twig' %}
        <div class="logo ">
          <a href="{{ base_url == '' ? '/' : base_url }}">
            <img class="rotating" src="{{ url('theme://images/jdll.svg') }}" alt="">
           <div style="margin-top:-15%;">{{ config.site.title }}</div>
      </a>
          <div class="phone-nav-button">
            <div id="bar1"></div>
            <div id="bar2"></div>
            <div id="bar3"></div>
          </div>
        </div>
    </nav>
    <div class="phone-nav" style="background: linear-gradient(44deg, {{p.header.custom.color1}},{{p.header.custom.color2}});">
      {% include 'partials/navigation.html.twig' %}
      <div class="navbar">
        <ul>
        {% for page in pages.children %}
        {% if page.visible %}
         {% if ( page.slug == "participer" ) or ( page.slug == "soutenir" ) or ( page.slug == "etre-benevole" ) %}
          {% set side_activ = (page.active or page.activeChild) ? 'active' : '' %}
           <li class = "{{ side_activ }}"><a href = "{{ page.url }}"><span>{{ page.title }}</span></a></li>
         {%endif%}

        {% endif %}
        {% endfor %}
        {% if p.header.custom.helloasso != "" or p.header.custom.helloasso != null %}
          <li><a href="{{p.header.custom.helloasso}}"><span class="haAnim">Faire un don</span></a></li>
        {% endif %}
        <li class = "search">{% include 'partials/simplesearch_searchbox.html.twig' %}</li>
        <li style="margin-top:1em"><a href="https://framapiaf.org/web/accounts/43283"> <img src="{{ url('theme://images/masto.svg') }}" style="width:1.8em"/> </a><a href="https://twitter.com/jdll_lyon"> <img src="{{ url('theme://images/tw.svg') }}" style="width:1.8em"/></a></li>
        </ul>
      </div>

    </div>
</div>

{% endblock %}
{% block body %}
{% if ( page.slug == "home" ) %}
  {% set foo = "home_content"%}
  {% set wrap_type = "wrapper home_w"%}
  {% set hide = ""%}
{% else %}
  {% set foo = "content"%}
  {% set wrap_type = "wrapper"%}
  {% set hide = "hide"%}
{% endif %}
        <div id="c" class="{{wrap_type}}">




        <div class="{{ foo }}">
          {% block content %}{% endblock %}
        </div>
        </div>
    {% include 'partials/sidebar.html.twig' %}
{% endblock %}

{% block footer %}

{% endblock %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
</html>
