<div class = "navbar">
  <ul class = "nav">
    {% for page in pages.children %}
      {% if page.visible %}
        {% if ( page.slug != "participer" ) and ( page.slug != "soutenir" ) and ( page.slug != "etre-benevole" ) and ( page.slug != "home" ) %}
          {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
          <li class = "{{ current_page }}"><a href = "{{ page.url }}"><span>{{ page.title }}</span></a></li>
        {% endif %}
      {% endif %}
     {% endfor %}
  </ul>
</div>
