<div id="helloasso_popup">
  <div class="topbar">
    Soutenez les JdLL !
  </div>

  <a class="close"></a>
   <iframe id="haWidget" allowtransparency="true" src="https://www.helloasso.com/associations/aldil/collectes/contribuons-aux-journees-du-logiciel-libre-1/widget-compteur" style="width:100%;height:400px;border:none;"></iframe>
</div>
