<div class = "sidebar_container">

    <ul class = "sidebar common">
    {% for page in pages.children %}
    {% if page.visible %}
     {% if ( page.slug == "participer" ) or ( page.slug == "soutenir" ) or ( page.slug == "etre-benevole" ) %}
      {% set side_activ = (page.active or page.activeChild) ? 'active' : '' %}
       <li class = "{{ side_activ }}"><a href = "{{ page.url }}"><span>{{ page.title }}</span></a></li>
     {%endif%}

    {% endif %}
    {% endfor %}
    {% set p = page.find("/home") %}
    {{ dump(p.header.custom.helloasso) }}
    {% if p.header.custom.helloasso != "" or p.header.custom.helloasso != null %}
      <li><a href="{{p.header.custom.helloasso}}"><span class="haAnim">Faire un don</span></a></li>
    {% endif %}
    <li class = "search">{% include 'partials/simplesearch_searchbox.html.twig' %}</li>
    <li style="margin-top:1em"><a href="https://framapiaf.org/web/accounts/43283"> <img src="{{ url('theme://images/masto.svg') }}" style="width:2em; margin-right:0.5em;"/> </a><a href="https://twitter.com/jdll_lyon"> <img src="{{ url('theme://images/tw.svg') }}" style="width:2em;  margin-right:0.5em;"/></a></li>
  </ul>

</div>
