<section class="search-row">

    <div class="search-item">
      <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
      <span class="search-date">{{ page.date|date(config.system.pages.dateformat.short) }}</span>
      <p>{{ page.summary|raw }}</p>
    </div>
</section>
