

<svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" width="auto" height="auto" viewBox="0 0 1131 236.99999" id="svg11625" version="1.1" inkscape:version="0.91 r13725" sodipodi:docname="banniere_nb.svg">
  <defs id="defs11627"></defs>
  <g inkscape:label="Calque 1" inkscape:groupmode="layer" id="layer1" transform="translate(1276.9224,-91.999123)">
    <path inkscape:connector-curvature="0" style="fill: none; stroke-dashoffset: 0px;" stroke-dasharray="451.9022216796875" d="m -212.19381,212.0621 a 71.917442,71.917442 0 0 1 -71.91718,71.9175 71.917442,71.917442 0 0 1 -71.9175,-71.9175 71.917442,71.917442 0 0 1 71.9175,-71.91738 71.917442,71.917442 0 0 1 71.91718,71.91738 z" id="pathAnim" stroke="currentColor"></path>

    <path inkscape:connector-curvature="0" style="fill: none; stroke-dashoffset: 0px;" stroke-dasharray="497.2507629394531" d="m -842.32019,139.49182 c -39.7186,8e-4 -71.9163,32.1994 -71.916,71.91795 -3e-4,39.7185 32.1975,71.9171 71.916,71.9179 39.71929,3e-4 71.91829,-32.1986 71.91799,-71.9179 -0.01,-4.2808 -0.3996,-8.55235 -1.168,-12.76365 l -68.01759,14.22455 0,-73.24215 c -0.9099,-0.063 -1.8208,-0.1085 -2.7324,-0.1367 z" id="pathAnim" stroke="currentColor" sodipodi:nodetypes="cccccccc"></path>
    <path inkscape:connector-curvature="0" style="fill: none; stroke-dashoffset: 0.00683112px;" stroke-dasharray="483.5443115234375" d="m -559.6647,140.45732 c -39.7186,8e-4 -71.91631,32.1994 -71.91601,71.91794 -3e-4,39.7185 32.19751,71.9171 71.91601,71.9179 39.7193,3e-4 72.77321,-32.1986 72.77291,-71.9179 l -0.0229,-12.76364 -0.6519,-59.1549 -69.3657,0.1373 c -0.9099,-0.063 -1.8208,-0.1085 -2.7324,-0.1367 z" id="pathAnim" stroke="currentColor" sodipodi:nodetypes="cccccccc"></path>
    <path inkscape:connector-curvature="0" style="fill: none; stroke-dashoffset: 27.3276px;" stroke-dasharray="143.83460998535156" d="m -346.39329,176.10352 124.56438,71.91738" id="pathAnim" stroke="currentColor"></path>
    <path inkscape:connector-curvature="0" style="fill: none; stroke-dashoffset: 300.285px;" stroke-dasharray="451.91802978515625" d="m -1059.9201,211.57487 a 71.917442,71.917442 0 0 1 -71.9174,71.9175 71.917442,71.917442 0 0 1 -71.9175,-71.9175 71.917442,71.917442 0 0 1 71.9175,-71.91735 71.917442,71.917442 0 0 1 71.9174,71.91735 z" id="pathAnim" stroke="currentColor"></path>
    <path inkscape:connector-curvature="0" style="fill: none; stroke-dashoffset: 139.934px;" stroke-dasharray="143.8347930908203" d="m -284.11099,140.14482 0,143.83478" id="pathAnim" stroke="currentColor"></path>
    <path inkscape:connector-curvature="0" style="fill: none; stroke-dashoffset: 141.492px;" stroke-dasharray="141.49188232421875" d="m -346.38999,248.034 123.26878,-69.46048" id="pathAnim" stroke="currentColor" sodipodi:nodetypes="cc"></path>

</svg>

<script>
anime({
  targets: '#pathAnim',
  strokeDashoffset: [anime.setDashoffset, 0],
  easing: 'easeInOutSine',
  duration: 5000,
  delay: function(el, i) { return i * 1500 },
  direction: 'alternate',
  loop: true,
});
</script>
