/*

 ██████╗ ██████╗ ██████╗ ███████╗
██╔════╝██╔═══██╗██╔══██╗██╔════╝
██║     ██║   ██║██████╔╝█████╗
██║     ██║   ██║██╔══██╗██╔══╝
╚██████╗╚██████╔╝██║  ██║███████╗
 ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝

*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@-webkit-keyframes rotating

/* Safari and Chrome */
  {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.tg{
  width: 100%;
  border: 1px solid white;
  font-size: .7em;
}
.tg td{
  border: 1px solid white;
}
.rotating {
  -webkit-animation: rotating 42s linear infinite;
  -moz-animation: rotating 42s linear infinite;
  -ms-animation: rotating 42s linear infinite;
  -o-animation: rotating 42s linear infinite;
  animation: rotating 42s linear infinite;
}

@font-face {
  font-family: 'Cispeo';
  src: url(../fonts/Cispeo-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cispeo';
  src: url(../fonts/Cispeo-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AlegreyaSans';
  src: url(../fonts/AlegreyaSans-Black.woff) format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'AlegreyaSans';
  src: url(../fonts/AlegreyaSans-Italic.woff) format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'zcispeo';
  src: url(../fonts/zcispeo-proportionnel-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'zcispeo';
  src: url(../fonts/zcispeo-italique-webfont.woff) format("woff");
  font-weight: 400;
  font-style: italic;
}


body {
  font-family: "zcispeo";
  font-size: 1.2vw;
  line-height: 1.8;
  color: black;
  background: linear-gradient(-95deg, #c2e1ad, #54ffe1);
  height: 100vh;
  padding: 2.5em 3em;
  overflow-y: scroll;
}

/*variables*/
:root {
}
/***********/

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: "AlegreyaSans";
  line-height: normal;
}
del{
  color:white;
  text-decoration: none;
}
h1{
  font-size: 3em;
}
h2{
  font-family: "AlegreyaSans";
  font-weight: 900;
  font-size: 2.6em ;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: white;
}

b, strong{
  font-weight: 700;
}

pre {
  background: #F0F0F0;
  margin: 1rem 0;
  border-radius: 2px;
  width: 100%;
}

blockquote {
  border-left: 2px solid white;
  margin: 0;
  padding: 0 2rem;
  font-family: 'zcispeo';
  font-style: italic;
}
code{
  width: 100%;
}

/* Utility Classes */
.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: auto;
  height: auto;
}
@media (max-width: 800px) {
}


.wrapper_mini{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.wrapper_mini > div {
  float:left; /*fallback*/
}

.white{
  color: white;
}

.full{
  width: 100%;
}
.min{
  width: 70%;
}

.hide{
  display: none !important;
}
.active a{
  color: white !important;
}

/* Content Styling */
/*

██╗  ██╗███████╗ █████╗ ██████╗ ███████╗██████╗
██║  ██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗
███████║█████╗  ███████║██║  ██║█████╗  ██████╔╝
██╔══██║██╔══╝  ██╔══██║██║  ██║██╔══╝  ██╔══██╗
██║  ██║███████╗██║  ██║██████╔╝███████╗██║  ██║
╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝


 */
/**********/
.header {
  color: black;
  /* text-align: right; */
}
.top-wrap{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-items: right;
  align-items: end;
}
#introduction{
  grid-column: 1 / span 8;
  font-family: "zcispeo";
}
.homewrap {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: auto;
  height: auto;
  position: absolute;
  bottom: 2em;
  pointer-events: none;
}



.box {
  padding: .06em .6em .06em .6em;
  border-radius: 2px;
  border: 2px solid white;
}

.header a {
  color: #fff;
}


/* Menu Settings */
.main-nav {
  justify-items: center;
  align-items: center;
  width: 28%;
  position: fixed;
  top: 1.5em;
  right: 0;
}
 /*fallback nav*/
.main-nav > div {
  flex: 1;
  float: left;
  width: 33.333%;
}
@supports (display: grid) {
  .main-nav > div {
    width: auto;
  }
}

.navbar{
  grid-column: 1 / span 2;
  margin-right: -2.5em;
}

.logo {

  text-align: center;
  grid-column: 3 / span 2;

  font-size: 3.5em;
  font-weight: 900;
  /* text-transform: uppercase; */
  font-family: "AlegreyaSans";
  /* text-transform: lowercase; */
  line-height: 1em;
  margin-top: .4em;
}

.logo svg{
  /* transform: scale(2); */
}

.main-nav ul {
  text-align: right;
  letter-spacing: -1em;
  margin:0;
  padding: 0;
  list-style-type: none;

}

.main-nav ul li {
  letter-spacing: normal;
  margin: 1em 0 0.8em 0;
}
.main-nav ul li:nth-child(5) {
  -ms-transform: rotate(-10deg);  /* IE 9 */
  -webkit-transform: rotate(-10deg);  /* Safari */
  transform: rotate(-10deg);
  margin-right: -1em;
}
.main-nav ul li:nth-child(4) {
  -ms-transform: rotate(-3deg);  /* IE 9 */
  -webkit-transform: rotate(-3deg);  /* Safari */
  transform: rotate(-3deg);
}
.main-nav ul li:nth-child(3) {
  -ms-transform: rotate(5deg);  /* IE 9 */
  -webkit-transform: rotate(5deg);  /* Safari */
  transform: rotate(5deg);
  /* margin-right: 3em; */
}
.main-nav ul li:nth-child(2) {
  -ms-transform: rotate(9deg);  /* IE 9 */
  -webkit-transform: rotate(9deg);  /* Safari */
  transform: rotate(9deg);
}
.main-nav ul li:nth-child(1) {
  -ms-transform: rotate(15deg);  /* IE 9 */
  -webkit-transform: rotate(15deg);  /* Safari */
  transform: rotate(15deg);
  margin-right: -1em;
}

.main-nav ul li a {
  position: relative;
  display: block;
  line-height: 1.8em;
  color: black;
  padding: 0 20px;
  white-space: nowrap;
}

li a span {
  border-bottom: 2px solid white;
  padding: 0 0.1em 0.15em 0.1em;
}

.main-nav>ul>li>a {
  border-radius: 2px;
}

/*Active item */
.main-nav ul li:hover>a {
  color: white;
}

/*

███████╗██╗██████╗ ███████╗██████╗  █████╗ ██████╗
██╔════╝██║██╔══██╗██╔════╝██╔══██╗██╔══██╗██╔══██╗
███████╗██║██║  ██║█████╗  ██████╔╝███████║██████╔╝
╚════██║██║██║  ██║██╔══╝  ██╔══██╗██╔══██║██╔══██╗
███████║██║██████╔╝███████╗██████╔╝██║  ██║██║  ██║
╚══════╝╚═╝╚═════╝ ╚══════╝╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝

*/

.sidebar_container .home{
  grid-column: 6 / span end;
  margin: 1em 0 0 0;
  padding: 0;
}
.home li{
  list-style: none;
  float: left;
  grid-column: span 4 / auto;

}
.sidebar li{
  display: inline-block;
  margin-right: 3em;
}
.common{
  position: fixed;
  bottom: 1.6em;
  right: 1.4em;
}

.common li{
  list-style: none;
  float: right;
  clear: both;
  margin-bottom: .3em;
}
li.search .search-input{
  margin-top: 1em;
  float: right;
  background: transparent;
  border: 2px solid white;
  padding: .25em;
}

.search-item iframe{
	display: none;
}

.search-item h1, .search-item h2, .search-item h3{
	font-family: "zcispeo";
  font-size: 1.2vw;
}

/*

██╗  ██╗ ██████╗ ███╗   ███╗███████╗
██║  ██║██╔═══██╗████╗ ████║██╔════╝
███████║██║   ██║██╔████╔██║█████╗
██╔══██║██║   ██║██║╚██╔╝██║██╔══╝
██║  ██║╚██████╔╝██║ ╚═╝ ██║███████╗
╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝╚══════╝

*/

.home_content{
  grid-column: 1 / span 7;
}
.header_info {
  grid-column: 1 / span 7;
  grid-row: 2;
  text-align: left;
  align-self:baseline;
  margin-top: 1em;
}
.header_info p{
margin-top:.35em;
margin-bottom:.35em;
}
.theme{
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: auto 1fr;
  align-items: end;
}
.theme h2{
  width:76%;
}
.theme_header{
  grid-row: 1;
  grid-column: 1 / span end;
}
.theme_header p:first-child{
  float: left;
  display: inline-block;
  border-bottom:2px solid white;
  padding-bottom: .06em;
}
.theme_header p:last-child{
  display: inline-block;
  margin-left: 10em;
}
.theme h2{
  grid-row: 2;
  grid-column: 1 / span end;
  line-height: 1.3em;
  text-align: left;
}

/*news slider*/

#news{
  grid-column: 1 / span 7;
    /* background: rgba(255,255,255,0.2); */
  width: auto;
  pointer-events: auto;
}

#news marquee .separator:last-of-type{
  display: none;
}
marquee a:hover{
  color:black;
}
h2{
}
h2 p {
  margin: 0;
}
h2>p:nth-child(2) {
  text-align: center;
}
h2>p:nth-child(3) {
  text-align: right;
}

/*
██████╗ ███████╗███████╗ █████╗ ██╗   ██╗██╗  ████████╗
██╔══██╗██╔════╝██╔════╝██╔══██╗██║   ██║██║  ╚══██╔══╝
██║  ██║█████╗  █████╗  ███████║██║   ██║██║     ██║
██║  ██║██╔══╝  ██╔══╝  ██╔══██║██║   ██║██║     ██║
██████╔╝███████╗██║     ██║  ██║╚██████╔╝███████╗██║
╚═════╝ ╚══════╝╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚══════╝╚═╝ */


.content{
  grid-column: 1 / span 8;
}
.content>p:nth-child(1){
margin-top: 0;
}
#histoire>p:nth-child(1){
margin-top: 0;
}
#histoire img{
  width: 100%;
}

h3{
  margin-top: 3em;
  margin-bottom: .6em;
  font-size: 1.5em;
}
h3+p{
  margin-top: .3em;
}
.participer{
  margin:4em 0 4em 0;
}
.participer a:hover{
  background: white;
  color:black;
}
.participer a{
    border: 2px solid white;
    padding: .7em;
}
/*
██████╗ ██╗      ██████╗  ██████╗
██╔══██╗██║     ██╔═══██╗██╔════╝
██████╔╝██║     ██║   ██║██║  ███╗
██╔══██╗██║     ██║   ██║██║   ██║
██████╔╝███████╗╚██████╔╝╚██████╔╝
╚═════╝ ╚══════╝ ╚═════╝  ╚═════╝ */

.summary img{
  display: none;
}
.list-blog-date{
  display: inline-block;
  border-bottom: 2px solid white;
  margin-bottom: .5em;
}
.list-item{
  margin-bottom: 6em;
}
#programme ul{
  list-style-type: none;
}
#programme>p:nth-child(1){
  margin-top:0;
}

/*
███████╗██████╗  ██████╗ ███╗   ██╗███████╗ ██████╗ ██████╗ ███████╗
██╔════╝██╔══██╗██╔═══██╗████╗  ██║██╔════╝██╔═══██╗██╔══██╗██╔════╝
███████╗██████╔╝██║   ██║██╔██╗ ██║███████╗██║   ██║██████╔╝███████╗
╚════██║██╔═══╝ ██║   ██║██║╚██╗██║╚════██║██║   ██║██╔══██╗╚════██║
███████║██║     ╚██████╔╝██║ ╚████║███████║╚██████╔╝██║  ██║███████║
╚══════╝╚═╝      ╚═════╝ ╚═╝  ╚═══╝╚══════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝
*/
.sponsor{
  position: relative;
  height: auto;
  display: inline-block;
}

.sponsor h3{
  position: relative;
  margin-top: 3em;
}
.sp_logos{
  margin-top: 3em;
  clear: both;
  height: auto;
}
.sp_logo{
  display: inline-block;
  width: 150px;
  float: left;
  margin: 0 1em 0 0;
}
.sp_logo img{
  width: 100%;
}

/*
███████╗██╗     ██╗██████╗ ███████╗██████╗
██╔════╝██║     ██║██╔══██╗██╔════╝██╔══██╗
███████╗██║     ██║██║  ██║█████╗  ██████╔╝
╚════██║██║     ██║██║  ██║██╔══╝  ██╔══██╗
███████║███████╗██║██████╔╝███████╗██║  ██║
╚══════╝╚══════╝╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝
*/



.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  height: 30rem;
}
.container div {
  background-color: white;
  width: auto;
  height: 100%;
  display: inline-block;
  display: none;
}
.container img {
  width: auto;
  height: 100%;
}

button {
  position: absolute;
}

button{
  height: 100%;
  border: none;
  width: 1em;
  background: transparent;
  margin: 0;
  color: white;
  font-size: 3em !important;
  transition: all 200ms;
}
button:hover{
  cursor: pointer;
  color: black;
  background: transparent;
  transition: all 200ms;
  opacity: 0.2;
}
.next {
  right: 0px;
  text-align: right;
}

.prev {
  left: 0px;
  text-align: left;
}



/*
███╗   ███╗███████╗██████╗ ██╗ █████╗
████╗ ████║██╔════╝██╔══██╗██║██╔══██╗
██╔████╔██║█████╗  ██║  ██║██║███████║
██║╚██╔╝██║██╔══╝  ██║  ██║██║██╔══██║
██║ ╚═╝ ██║███████╗██████╔╝██║██║  ██║
╚═╝     ╚═╝╚══════╝╚═════╝ ╚═╝╚═╝  ╚═╝ */

.grid-media{
  width: 100%;
  border: 1px solid white;
  display: grid;
  grid-template-columns: 17% 60% 1fr;
  margin-top:2em;
}
.grid-media div{
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}
.grid-media a:hover{
  color:white !important;
}
.grid-media a:hover{
  color: black;
}


.item, .item-description, .item-type{
  padding: .1em 0 0 1em;
  height: 2em;
}
