.online {

list-style: none;
padding: 0;
display: grid;
grid-template-columns: repeat(1, 1fr);

}
.online li{
  /*padding: 1rem;*/
  border-bottom: 1px solid black;
}

.online ul li {
  border:none;
}
.online ul li:first-of-type{
  border:none;
}
.online .info_top{
  cursor: pointer;
  display: grid;
  grid-template-columns: 60% 7% auto 10%;
  padding: .1rem 1rem;
  transition: all 200ms;
  align-items: center;

}
.abstract{
  padding: 1rem 1rem;
  display: none;
}
.online .info_top:hover{
  background: white
}
.online .info_top .arrowdown{
  text-align: right; 
}
.online li:first-of-type{
  border-top: 1px solid black;
}
.online h4{
  margin-bottom: 0;
}
.online .who{
  font-style: italic;
}
.button{
  border: white 1px solid;
  border-radius: 2rem;
  margin-right: 1rem;
  padding: 10px 20px;
  display: inline-block;
  width: auto;
  box-sizing: content-box;
  cursor: pointer;
}
.search_online{
  border: white 1px solid;
  border-radius: 2rem;
  margin-right: 1rem;
  margin-top: 1rem;
  font-size: 18px;
  padding: 10px 20px;
}
.button:not(.active):hover{
  transition: all 250ms;
  background: white;


}
.online .active{
  background: white;
}
.button.active{
  background: white;
}


.youpi{
  display: none;
}

.tlk{
  display: none;
}
.actu img{
  width: 1rem !important;
}
.actu p:nth-of-type(2n+1){
  border: solid 1px white;
  padding: 1.5rem;
  box-shadow: 10px 5px 5px white;
}
.actu p:nth-of-type(2n){
  border: solid 1px white;
  padding: 1.5rem;
  box-shadow: -13px 16px 5px -4px white;;
}
/*twitter*/
.twitter-timeline{
  opacity: 0;
  position: absolute !important;
  top:0;
  pointer-events: none;
  display: block;
}
/*loader*/
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}