{% embed 'partials/base.html.twig' %}

	{% set collection = page.collection() %}

	{% block content %}

		<div class="blog-header">
			{% if (page.slug != "blog") %}
			<!-- <time class="dt-published" datetime="{{ page.date|date("c") }}">
					<span>{# page.date|localizeddate('full', 'none', null, app.request.locale , 'dd')#}</span> /
					<em>{# page.date|localizeddate('full', 'none', null, app.request.locale , 'M')#}</em>
			</time> -->
		{% endif %}
			{{ page.content }}
		</div>

		<div class="content-wrapper blog-content-list grid">
			<div id="listing" class="block">
				{% for child in collection %}
			        {% include 'partials/blog_item.html.twig' with {'blog':page, 'page':child, 'truncate':true} %}
			   {% endfor %}
			</div>

		</div>
	{% endblock %}

{% endembed %}
