{% extends 'partials/base.html.twig' %}

{% block content %}
   {% if page.slug == "presse" %}
    {% set class = "pr" %}
   {% endif %}
  <div class="{{ class }}">
      {{ page.content }}
  </div>

  {% if page.slug == "participer" %}
  <!-- <div class="participer">
    <a href="https://pretalx.jdll.org/jdll2020/cfp"> Je souhaite participer aux jdll !</a>
  </div> -->
  {% endif %}

{% endblock %}
