{% extends 'partials/base.html.twig' %}
{% block content %}
<span id="histoire">
  <section class="demo">

    <div class="gal">
    <button class="next">⇨</button>
    <button class="prev">⇦</button>
    {% for image in page.media.images %}
      <div style="display: inline-block;">
        {{ image.html }}
      </div>
    {% endfor %}
    </div>
  </section>
  {{ page.content }}
</span>
{% endblock %}
