{% extends 'partials/base.html.twig' %}

{%block info%}

<div id="introduction">
{{ page.header.custom.info }}
</div>
{% endblock info %}

{% block content %}
    <div class="theme">
      <div class="theme_header">
        <p>{{ page.header.custom.sub }}</p>
        <p class="box">Thème {{page.header.custom.begin|date('Y')}}</p>
      </div>
      <h2>{{ page.header.custom.theme }}</h2>
    </div>
    <div class="header_info {{hide}}">
        {%    set begin = page.header.custom.begin|split('-') %}
        {%    set end = page.header.custom.end|split('-') %}
        {%    set month_array = {
            '01' : 'janvier',
            '02' : 'fevrier',
            '03' : 'mars',
            '04' : 'avril',
            '05' : 'mai',
            '06' : 'juin',
            '07' : 'juillet',
            '08' : 'aout',
            '09' : 'septembre',
            '10' : 'octobre',
            '11' : 'novembre',
            '12' : 'décembre' }

        %}
      <p>
          <!-- <span class="box">Date</span> --> <b>{{begin[2]}}&nbsp;et&nbsp;{{end[2]}} {{ month_array[begin[1]]}}</b> <span class="white">de</span> 10h à 18h&nbsp;&nbsp;<span class="white"> -> </span>&nbsp;&nbsp;<i>Entrée libre et gratuite</i></p>
      <p class="lieu"><span class="box">Lieu</span> {{ page.find('/contact-and-informations').header.custom.lieu }}&nbsp;&nbsp;<span class="white"> -> </span>&nbsp;&nbsp;{{ page.find('/contact-and-informations').header.custom.adresse }}</p>

      <p><span class="box">Accès</span> Métro B Place Guichard <span class="white">ou</span> Métro D Saxe Gambetta</p>

    </div>
    <div class="inter_title">
         	Actualités
    </div>
    <div class="annonce">
        {% for elem in page.header.custom.annonce %}

        <div class="ann_item">
            <div class="ann_title">
                <h4>{{ elem.title }}</h4>
            </div>
            <div class="ann_content">
                {{ elem.content }}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
