{% extends 'partials/base.html.twig' %}

{% block content %}
<p>
  {{ page.content }}
</p>
  <div class="grid-media">
  {% for item in page.header.custom.mediaList %}
  {% set type = "" %}
  {% set url = "" %}
    {% for info in item.media %}
      {% set type = info.type %}
      {% set url = info.path %}
    {% endfor %}
    <div class="item-description">
      <a href="{{url}}" download>{{ item.title }}</a>
    </div>
    <div class="item-type">
        <a href="{{url}}" download><img src="{{url}}" alt=""></a>
    </div>
  {% endfor %}
  </div>

{% endblock %}
