{% extends 'partials/base.html.twig' %}

{% block content %}
   {% if page.slug == "presse" %}
    {% set class = "pr" %}
   {% endif %}
  <div class="{{ class }}">

      {{ page.content }}
  </div>

  <!-- header.custom.gallery -->
  <h6> Galerie Photo </h6>
  <div class="gal">
  <button class="next">⇨</button>
  <button class="prev">⇦</button>
  {% for image in page.header.custom.galerie %}
    <div style="display: inline-block;">
      <img src="{{ image.path }}" alt="">
    </div>
  {% endfor %}
  </div>

{% endblock %}
