{% extends 'partials/base.html.twig' %}


{% block content %}
    <h6>Programme</h6>
    <div id="programme">
    {{ page.content }}
    </div>
    {#{% if page.header.prog_status.prog == true %}
    {# set data = get_data()
    <!-- ajouter une condition si json don't exist -->
    {# <ul id="cal"> 
      {% for day in data.children %}
      <li>
        <h1>{{ day.name }}</h1>
        <ul>
          {% for type in day.children %}
            <li>
              <h3 class="type"><span class="white">⇣</span><span style="display:inline-block;width: 90%;">{{type.name}}</span><span class="white">⇣</span></h3>
              <ul class="timebox">
                {% for hour in type.children %}
                  <div class="hour">{{ hour.name }}</div>
                  <ul>
                    {% for show in hour.children %}
                    <li class="event">
                      <div class="row_1">
                      <div class="arrow"><span>⇣</span></div>
                      <div class="info">
                        <h4>{{ show.name }}</h4>

                        {% set speaker_array = [] %}
                        {% for speaker in show.speaker %}
                            {% set speaker_array = speaker_array|merge( [speaker.name] )  %}
                        {% endfor %}
                        {% if show.cat_intervention == "True"%}
                            {% set public = "Tout public" %}
                        {% else %}
                            {% set public = "Expert" %}
                        {% endif %}
                        <span class="who">{{ speaker_array|join(', ', ' et ') }}</span><span class="room"> <span class="white">@</span> {{ show.room.fr }}</span> <span class="white">/</span>
                        <span class="level"> {{public}}</span> <span class="white">/</span> <span class="public">{{ show.cat_public }}</span>
                      </div>
                      </div>

                      <div class="abstract">
                        {% if show.description != "" %}
                            {{ show.description|markdown }}
                        {% else %}
                            {{ show.abstract|markdown }}
                        {% endif %}

                      </div>
                    </li>
                    {% endfor %}
                  </ul>
                {% endfor %}

              </ul>
            </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <div class="wait">
        {{ page.header.custom.prog_temp }}
        {% include 'partials/wait.html.twig' %}

    </div>
    {% endif %}
    #}
        <br><br>
    <div id="programme">
    {{ page.header.custom.prog_temp }}

    </div>


    <!-- testplugin pretalx  -->
    <!-- <pretalx-schedule-widget event="https://pretalx.com/democon/" height="500px"></pretalx-widget>
    <noscript>
       <div class="pretalx-widget">
            <div class="pretalx-widget-info-message">
                JavaScript is disabled in your browser. To access our schedule without JavaScript,
                please <a target="_blank" href="https://pretalx.com/democon/schedule/">click here</a>.
            </div>
        </div>
    </noscript>
    <script type="text/javascript" src="https://pretalx.com/democon/schedule/widget/v1.en.js" async></script> -->
{% endblock %}
